@model Udem.LlamaClothingCo.Entities.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sale</legend>

    <div class="display-label">Client</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.FirstName)
    </div>

    <div class="display-label">SaleTotal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SaleTotal)
    </div>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">ShippingAddresses</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingAddresses.Street)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SaleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
