@model Udem.LlamaClothingCo.Entities.Address

@{
    ViewBag.Title = "Delete Billing Address";
}

<h2>Delete Billing Address</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BillingAddress</legend>

    <div class="display-label">Street</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">State</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">ZipCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="display-label">IsAddressActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAddressActive)
    </div>

     <div class="display-label">AddressTypeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressTypeId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
